* {box-sizing:border-box;}
ul {list-style-type: none;}
body {font-family: Verdana,sans-serif;}

.calendar-header {
    padding: 0px 25px;
    width: 100%;
    background: #3193c6;
    height:140px;
    position:relative;
}

.upper-header{
    margin: 0;
    padding: 0;
}

.upper-header li {
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
}



.room {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
    padding-bottom:0px;
}

.room li {
    display: inline-block;
    width: 20%;
    color: #666;
    text-align: center;
margin-right:-5px;
}
.room li ul {
    width: 100%;
    color: #666;
    text-align: center;
    background: #eee;
    margin-top:15px;
  
padding-left:0px;

}
.room li ul li{
   display:block;
   height:70px;
   margin-right:0px;
text-align:center;
width:100%;
vertical-align:middle;
 line-height: 70px;
}
.room li ul li.active{
  background-color:#2f6594;
  color:white;
}
.calendar-buttons {
    font-size: 20px;
    color: white;
    position: absolute;
    bottom:3px;
    padding:0;
    margin:0px;
   
}

.calendar-buttons li{
    font-size:15px;
    display:inline-block;
    background-color: #3fa9e2;
    min-width:40px;
    margin:-3px;
    text-align:center;
    padding-right:15px;
    padding-left:15px;
    height:40px;
    vertical-align:middle;
    line-height:40px;

}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 12.5%;}
    .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
}