@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>You can supposedly use it to reserve rooms and stuff but you are better off seeing the old nice guy and reserving rooms the old fashion way </p>
