body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.navbar{
  border-color: #0c84e4;
  height:50px;
  top:0px;
  position:fixed;
  width: calc(100% - 200px);
  margin-left:200px;
  background-color:white;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
  z-index:10;

}

.custom-navbar-right{

height:inherit;
margin:0px;
padding:0px
}
.custom-navbar-right li{
display:block;
float:right;
padding:11px;
text-align:center;
width:51px;
color:#3193c6
}
.container-right{   
    margin-top:-10px;
    padding:0px;    
    z-index:-1;
    margin-left:200px;
    width:calc(100% - 200px);
}
@media (max-width: 768px){
    .container-right{   
        margin-left:0px;
        width:100%
    }
    .navbar{
        margin-left:0px;
        width:100%;
    }
}